# Dependencies
node_modules/
.bun/

# Environment files
.env
.env.local
.env.*.local

# Build outputs
dist/
out/
librairies/docs/
librairies/docs/assets/
librairies/dist/
librairies/wiki/api/

# IDE & OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*